#navhistory {
	color:white;
}

#navcoaches {
	color:white;
}

#navhof {
	color:white;
}

#navrules {
	color:white;
}

.navbar-brand {
	max-width: 15%;
	max-height: 100%;
	padding: 0;
	margin-right: 10pt;
}

#navpic {
	max-width: 90px;

}

#navpills {
	float: right;
}
