#navhistory {
	color:white;
}

#navcoaches {
	color:white;
}

#navhof {
	color:white;
}

#navrules {
	color:white;
}

.navbar-brand {
	max-width: 15%;
	max-height: 100%;
	padding: 0;
	margin-right: 10pt;
}

#navpic {
	max-width: 90px;

}
#navpic:hover{
	background-color: transparent;
	outline: none;
    border-color: #2de2f3;
    border: 0 0 0 0;
    box-shadow: 0 0 100px #2de2f3;
}


#navpills {
	float: right;
}

li:hover{
	background-color: transparent;
	outline: none;
    border-color: #2de2f3;
    border: 0 0 0 0;
    box-shadow: 0 0 100px #2de2f3;
}


table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    color: white;
    min-width: 100%;
    font-family: "Questrial", sans-serif;
    font-size: 14pt;
}
h1 {
	font-family: "Questrial", sans-serif;
	font-size: 28pt;
	color: #2de2f3;
	text-align: center;
	padding-top: 28px;

}

h3 {
	font-family: "Questrial", sans-serif;
	color: white;
	text-align: center;
	margin-bottom: 24pt;
}

p {
	color: white;
    min-width: 100%;
    font-family: "Questrial", sans-serif;
    font-size: 14pt;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

footer {  
   left:0px;
   bottom:0px;
   width:100%;
   text-align: center;
   font-family: 'Questrial', sans-serif;
   padding-top: 64px;
}

