#navhistory {
	color:white;
}

#navcoaches {
	color:white;
}

#navhof {
	color:white;
}

#navrules {
	color:white;
}

.navbar-brand {
	max-width: 15%;
	max-height: 100%;
	padding: 0;
	margin-right: 10pt;
}

#navpic {
	max-width: 90px;
}
#navpic:hover{
	background-color: transparent;
	outline: none;
    border-color: #2de2f3;
    border: 0 0 0 0;
    box-shadow: 0 0 100px #2de2f3;
}

#navpills {
	float: right;
}

li:hover{
	background-color: transparent;
	outline: none;
    border-color: #2de2f3;
    border: 0 0 0 0;
    box-shadow: 0 0 100px #2de2f3;
}


#intro-row{
	padding-bottom: 36pt;
	font-size: 12pt;
}

hr {
	border: none;
	color: #00ffff;
	background-color: #00ffff;
	height: 2px;
}

#twitter-icon{
	max-width: 100px;
}
#twitter-icon:hover{
	outline: none;
    border-color: #2de2f3;
    border: 0 0 0 0;
    box-shadow: 0 0 100px #2de2f3;
}

#google-sheets-icon{
	max-width: 100px;
}
#google-sheets-icon:hover{
	outline: none;
    border-color: #2de2f3;
    border: 0 0 0 0;
    box-shadow: 0 0 100px #2de2f3;
}
#twitter-link-box{
	text-align: center;
	background-color: transparent;
	font-family: 'Questrial', sans-serif; 
	color: white;
	font-size: 20pt;
	padding-top: 64pt;
}
#google-sheets-box{
	text-align: center;
	font-family: 'Questrial', sans-serif; 
	color: white;
	font-size: 20pt;
	padding-top: 64pt;
}



footer {  
   left:0px;
   bottom:0px;
   width:100%;
   text-align: center;
   font-family: 'Questrial', sans-serif;
}

@media (min-width: @screen-sm-min) {
	h1 {
		font-size: 28pt;
	}
}